name: Build and Test

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize

  push:
    branches:
      - master
      - main

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha || github.event.after}}

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: 'adopt'
          cache: 'maven'

      - name: Build & Test
        run: |
          mvn -B -DtrimStackTrace=false clean test package surefire-report:report

      - name: Archive Test Results
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: liquibase-dev-maven-plugin-test-results
          path: |
            ./**/target/surefire-reports
            ./**/target/site

      - name: Archive Packages
        uses: actions/upload-artifact@v2
        with:
          name: liquibase-dev-maven-plugin-artifacts
          path: target/liquibase-dev-maven-plugin-*.jar
